@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

#navbar-main a {
    font-size: 13px !important;
    font-weight: 500;
}

#navbar-main #search-btn {
    border: none;
    width: 30px;
    background: transparent;
    z-index: 100;
}

#navbar-main #search-container {
    width: fit-content;
}

#navbar-main #search-container input {
    border: none;
    width: 350px;
    padding: 6px 10px 6px 45px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0, 3s;
    margin-left: -40px;
    border: 1px solid rgba(0, 0, 0, 0.01);
}
#navbar-main #search-container input:focus,
#navbar-main #search-container input:active {
    border: 1px solid #ff5b00 !important;
    outline: none !important;
    caret-color: #ff5b00;
    background-color: white;
}
#navbar-main #search-container input:hover {
    border: 1px solid #ff5b00;
}

#header-nav-menu .nav-item {
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 20px;
}
#header-nav-menu .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
#header-nav-menu #log-in .nav-link {
    color: white;
    width: fit-content;
    background-color: #ff5b00;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
}
#header-nav-menu #log-in:hover {
    background-color: white;
}
header #hr-one {
    margin-top: -2px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header #second-navbar .navbar-nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
header #second-navbar .navbar-nav .nav-item {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
header #second-navbar .navbar-nav .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

header #second-navbar #dot-nav a {
    font-weight: 900;
    padding-bottom: 12px;
    letter-spacing: 3px;
}
header #second-navbar #dot-border {
    height: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width: 1px;
}

header #slider-container {
    position: relative;
}
header #slider-container #slider-header {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
    z-index: 99;
    color: white;
}

#search-container2 img {
    width: 30px;
    height: 30px;
}
#search-container2 form {
    padding: 0 5px 0 20px;
    width: 750px;
    background-color: white;
    border-radius: 13px;
    height: 60px;
    display: grid;
    grid-template-columns: 30px 1fr 150px;
    align-items: center;
    column-gap: 15px;
    border: 1px solid #fff;
}
#search-container2 form input {
    border: none;
    height: 30px;
}
#search-container2 form input:focus,
#search-container2 form input:active {
    border: none !important;
    outline: none !important;
    caret-color: #ff5b00;
}
#search-container2 form:hover {
    border: 1px solid #ff5b00;
}
#search-container2 form button {
    border: none;
    height: 90%;
    background-color: #ff5b00;
    border-radius: 13px;
    color: white;
    font-weight: 600;
}
